.root {
  background: var(--light_blue);
  width: 100%;
}

.wrapper {
  padding: 40px 64px 90px;

  @include respond(tabletL) {
    padding: 40px 32px 90px;
  }

  @include respond(tabletSM) {
    padding: 34px 16px 50px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn {
  cursor: pointer;
  @include transition;

  &:hover {
    opacity: 0.75;
  }
}

.privacy {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: var(--font-geist-sans);
  font-weight: 500;
  font-size: 12px;
  color: black;

  @include respond(tabletSM) {
    display: none;
  }
}

.privacy2 {
  display: none;

  @include respond(tabletSM) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: var(--font-geist-sans);
    font-weight: 500;
    font-size: 12px;
    color: black;
    margin-top: 12px;
  }
}
