.root {
  background: url('/images/ryan.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  object-fit: cover;
  height: 824px;
  position: relative;

  @include respond(tabletSM) {
    background-position: top 260px center;
  }
}

.container {
  padding: 24px 64px 176px;

  @include respond(tabletSM) {
    padding: 24px 16px 176px;
  }
}

.card {
  background: url('/images/ryanbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border: 6px solid black;
  border-radius: 20px;
  padding: 55px 20px;
  width: 100%;
  max-width: 421px;
  margin-left: 64px;
  position: relative;

  @include respond(tabletL) {
    padding: 40px 16px;
    margin-left: 36px;
  }

  @include respond(tabletSM) {
    margin: 0;
    max-width: none;
  }
}

.roar {
  background: url('/images/roar2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  width: 183px;
  height: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -80px;
  right: -60px;

  @include respond(tabletSM) {
    right: -10px;
  }

  span {
    color: black;
    font-size: 36px;
    transform: rotate(14deg);
  }
}

.explorar {
  background: url('/images/explore.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 310px;
  height: 159px;
  position: absolute;
  bottom: 200px;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;

  @include respond(tabletL) {
    display: none;
  }
}

.explorar2 {
  display: none;

  @include respond(tabletL) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/explore.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 174px;
    height: 89px;
    left: 50%;
    bottom: -45px;
    transform: translateX(-50%);
    font-size: 22px;
  }
}

.text {
  color: black;
  font-size: 128px;
  text-align: center;

  @include respond(tabletL) {
    font-size: 96px;
  }

  @include respond(tabletSM) {
    font-size: 64px;
    text-align: start;
  }
}
