.swiper-button-next,
.swiper-button-prev {
  background: url('/images/Number.png');
  background-size: cover;
  padding: 40px;
  color: black;
  top: 220px;

  &::after {
    font-size: 44px;

    @media (max-width: 475px) {
      font-size: 20px;
    }
  }

  @media (max-width: 475px) {
    top: 250px;
    padding: 24px;
  }
}

.swiper-button-next {
  left: 100px;

  @media (max-width: 475px) {
    left: 70px;
  }
}

.swiper {
  padding-bottom: 100px;

  @media (max-width: 380px) {
    padding-bottom: 150px;
  }
}
