.root {
  background: url('/images/backgroundFooter.png');
  padding: 27px 0;
  position: relative;
  overflow: hidden;

  @include respond(tabletS) {
    padding-bottom: 100px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  img {
    position: absolute;
    bottom: -140px;
    right: 0;
    z-index: 12;
    @include respond(laptopB) {
      right: -130px;
    }
  }

  p {
    color: var(--black);
    max-width: 1068px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 900;
    font-family: var(--font-geist-sans);

    @include respond(laptop1650) {
      max-width: 700px;
    }

    @include respond(laptopB) {
      margin: 0;
      margin-left: 20px;
    }
  }

  @include respond(tabletL) {
    padding: 0px 64px;
  }

  @include respond(mobileL) {
    padding: 0px 48px;
  }
}
